<li class="w-comment">
<h4><%= User.find(comment.user_id).name %> said:
  <% if (current_user &&  comment.user_id == current_user.id) || (current_user && current_user_admin) %>
  <span class="w-toolbox">  
    <%= link_to "", [comment.wisdom, comment], method: :delete, data: {confirm:"are you sure?"}, :class=>"glyphicon glyphicon-remove" %>
  </span>
  <% end %>
</h4>
  <p><%= comment.body %></p>
  <small class="w-timestamp"><%= link_to(localize(comment.created_at, :format => :long), comment.wisdom)%></small>
</li>
