<div class="w-about"><p>Wisdoms enables you to log and share your wisdoms with the world. The public stream provides inspiration to anyone and allows you to get into contact with likeminded quote lovers.</p>
  <p>for questions, bugreports or any other feedback please contact <a href="http://www.twitter.com/peterpeerdeman" target="_blank">@peterpeerdeman</a></p>
  <%= render partial: 'layouts/logo' %>
</div>
