<%= render partial: 'layouts/logo' %>
<section class="w-wisdoms">
<%= render partial: 'wisdoms', :locals => {:wisdoms => @wisdoms} %>
</section>
<%=link_to 'Load More Wisdoms', wisdoms_path(:page => @wisdoms.next_page), :class => 'w-load-more-wisdoms', :remote => true if @wisdoms.next_page %>
