<% content_for :title, "Wisdoms - #{@wisdom.quote}" %>
<% content_for :og_title, "#{@wisdom.quote} - #{@wisdom.author}" %>
<%= render partial:'wisdom', object: @wisdom %>
<h4>comments</h4>
<% if @wisdom.comments.empty? %>
  <p>no comments</p> 
<% else %>
  <ul>
    <%= render @wisdom.comments %>
  </ul>
<% end %>

<% if current_user %>
  <%= render "comments/form" %> 
<% end %>
