/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* bootstrap overwrites */
$font-size-base: 17px;
$font-family-base: 'Open Sans Condensed';
$navbar-inverse-link-color: #eaeaea;
$grey: #999;

@import "twitter/bootstrap";

/* FIXED FOOTER */
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#f0f0f0;

  text-align:center;
  .container {
    padding-top:0;
  }
  small, a {
   color:$grey; 
     
  }
}

#push {
  height: 30px;
}

/* BOOTSTRAP OVERRIDES */
.glyphicon {
  font-size:90%;
}

.container {
  max-width:700px;
  padding-top: 60px;
}

.form-group {
  padding: 0 20px;
  .help-inline {
    color:orange;
  }
}

.media-body {
    overflow:visible;
    margin-left:80.5px;
}


/* WISDOMS COMPONENTS*/
.w-logo {
  padding:0;
  a {
    img {
      width: 100%;
      margin: -35px 0;
    }
  }
}

.w-subtitle {
  text-align:center;
  margin:10px 0 30px 0;
  font-size:2.2em;
}
.w-wisdom, .w-comment {
  .w-quote {
    font-family:"Alice";
    font-size:2em;
    margin-bottom:5px;
  }
  .w-author {
    font-family:"Alice";
    font-size:1.8em;
    margin:0 5px 0 -30px;
  }
  a, a:focus, a:visited {
    color:#000; 
  }
  .w-timestamp a, .w-link-comments a {
    text-decoration: underline;
    font-size: .8em;
    color:$grey;
  }
}

.w-metadata {
    color:$grey;
    .fb-like {
      top:5px;
    }
}

.w-wisdom {
    text-align:center;
}

.w-toolbox {
  margin: 0px 0;
  a, a:hover, a:visited {
    text-decoration:none;
  }
}

.w-avatar {
  margin: 30.5px 21px 0 0;
  img {
    width:50px;
    height:50px;
  }
}

.w-author {
  font-size: 1.1em;
}

.w-profilebadge {
  text-align:center;
  img {
    margin: 0 auto;
  }
}

.w-pagination {
  text-align:center;
  em {
    font-style:normal;
  }
}

.w-load-more-wisdoms {
    display:block;
    text-align: center;
}

.w-about {
  margin-top:40px;
  text-align:center;
}

/* NO TOUCH FUNCTIONALITY */
.no-touch {
  .w-toolbox {
    display:none;
  }
  .w-wisdom:hover .w-toolbox {
    display:inline;
  }
  .w-comment:hover .w-toolbox {
    display:inline;
  }
}
