<h1 class="w-logo">
  <a href="/">
    <img src="wisdoms.svg" alt="Wisdoms" title="Click to return to Wisdoms homepage" />
  </a>
</h1>
<h2 class="hidden-xs">Log and share your wisdoms with the world</h2>
